// Bootstrap main styles import
@import 'bootstrap/bootstrap';

.home-header {
  height: 80vh;
  min-height: 500px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;

  p{
    max-width: 600px;
  }
}

#home-sobre {

  img {
    width: 100%;
    max-width: 400px;
  }
}

#home-modalidad {

  .row {

    .col1 {
      background-color: #000000;
    }
  }
}